
*{
  color: white;
}

body {
  text-align: center;
  background-color: black;
  font-size: 2.5rem;
}

.navbar {
  overflow: hidden;
  background-color: gray;
  position: fixed;
  top: 0;
  justify-content: space-around;
  width: 100%;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Vigo', sans-serif;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}

.profile-greeting {
  margin-top: 10rem;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 8rem;
}
